<%- include('../partials/header') %>



<h1>Add the latest book you've read!</h1> <br>
  <form class="pure-form pure-form-aligned" id="new-form" action="/books" method="POST">
    <fieldset>
      
        <div class="pure-control-group">
            <label for="aligned-title">Title:</label>
            <input type="text" name="title" id="aligned-title" placeholder="Title of book" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-author">Author:</label>
            <input type="text" name="author" id="aligned-author" placeholder="Author's Name" />
        </div>
        <div class="pure-controls">
            <label for="aligned-readTwice" class="pure-checkbox">
                <input type="checkbox" id="aligned-readTwice" name="readTwice" /> I&#x27;ve read this book before</label><br>
            <button type="submit"  value="Add Book" class="btn btn-dark">📚 Add book to your list 📚</button>
        </div>
    </fieldset>
</form>

<%- include('../partials/footer') %>