<%- include('../partials/header') %>

<form id="new-form" action="/books" method="POST"></form>
<label>Title:</label>
<input type="text" name="title">
<label>Author:</label>
<input type="text" name="author">
<input type="submit" value="Add Book">
</form>

<%- include('../partials/footer') %>