<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <title>Error</title>
  <h2 class="MainTitle">
  Get lost in a book?
    </h1>
  <p class="Main Description">
    <h2>Error: The page you are looking for is not found in this book</h2>
    <a href="/">Return to the main library</a>
    <pre><%= error.stack %></pre>

</head>
<body>