<%- include('partials/header') %>

<main>
  <h1>Hello, <%= user ? user.name : "Dear reader" %></h1>
  <br><h2>Welcome to Book Keeper</h2>
  <br><p>Where you keep track of the books you've read</p>
</main>

<%- include('partials/footer') %>
