body {
    box-sizing: border-box;
    height: 100%;
    background-color: #000000;
    background-image: url(../images/124378.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: navy
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
  }